 <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="Page2.html">History in Memes</a>
         </div>
         <ul class="nav navbar-nav">
           <li><a href="Page2.html">Home</a></li>
           <li><a href="Discovery of America.html">Discovery of America</a></li>
           <li class="active"><a href="#">WW1</a></li>
           <li><a href="ww2.html">WW2</a></li>
           <li><a href="coldwar.html">Cold War</a></li>
         </ul>
       </div>
     </nav>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
